// Fonts
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Clicker+Script');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

$amatic:  'Amatic SC', sans-serif;
$clicker: 'Clicker Script', sans-serif;
$source: 'Source Sans Pro', sans-serif;

// Colors
$black: #1D1B1B;
$pink:  #FF847C;
$grey: #7f7f7f;
$grey-light: #ececec;