.full-height {
  height: 100vh;
}

.v-align-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.fancy-title{
  font-family: $source;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-bottom: 20px;
  &:after,
  &:before{
    content: "";
    width: 100px;
    display: inline-block;
    position: relative;
    top: -2px;
    vertical-align: middle;
    border-bottom: solid 2px $black;
  }
  &:before{
    margin-right: 10px;
  }
}